#map {
  height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
}

#navbar {
  z-index:10;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 100%;
  overflow: scroll;
  background-color: #000;
}

li {
  padding: 4px;
  margin: 4px;
  margin-left: -30px;
  color: #bcbaba;
}

#myInput {
  width: 100%;
  height: 30px;
}

a {
  color: #bcbaba;
  text-decoration: none;
}

a:hover {
    color: #9b9898;
}

.header {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 30px;
  background-color: #000000;
}

.ham {
  cursor: pointer;
  float: right;
  height: 30px;
  width: 50px;
  background-color: #f23726;
  color: #fefefe;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ham:hover {
  transition: 0.1s ease;
  background-color: #722019;
  font-size: 18px;
}

.hide {
  visibility: hidden;
}
